html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#accordion {
  display: flex;
  width: 300px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gold;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.read-more {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: beige;
}

.main-content {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  width: 100%;
}
